.vs

/Sticky/.vs
Sticky/Sticky/bin/Debug/netcoreapp2.1/Sticky.deps.json
Sticky/Sticky/bin/Debug/netcoreapp2.1/Sticky.deps.json
Sticky/Sticky/bin/Debug/netcoreapp2.1/Sticky.dll
Sticky/Sticky/bin/Debug/netcoreapp2.1/Sticky.pdb
Sticky/Sticky/bin/Debug/netcoreapp2.1/Sticky.runtimeconfig.dev.json
Sticky/Sticky/bin/Debug/netcoreapp2.1/Sticky.Views.dll
Sticky/Sticky/bin/Debug/netcoreapp2.1/Sticky.Views.pdb
Sticky/Sticky/Data/Migrations/00000000000000_CreateIdentitySchema.Designer.cs
Sticky/Sticky/Data/stickynotes210Context.cs
Sticky/Sticky/Data/stickynotes210Context.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/_ViewStart.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/_ViewImports.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/_ViewStart.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/About.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/Contact.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/Error.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/Index.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/Privacy.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/Shared/_CookieConsentPartial.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/Shared/_Layout.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Razor/Pages/Shared/_ValidationScriptsPartial.g.cshtml.cs
Sticky/Sticky/obj/Debug/netcoreapp2.1/Sticky.assets.cache
Sticky/Sticky/obj/Debug/netcoreapp2.1/Sticky.csproj.CoreCompileInputs.cache
Sticky/Sticky/obj/Debug/netcoreapp2.1/Sticky.csproj.FileListAbsolute.txt
Sticky/Sticky/obj/Debug/netcoreapp2.1/Sticky.csprojAssemblyReference.cache
Sticky/Sticky/obj/Debug/netcoreapp2.1/Sticky.dll
Sticky/Sticky/obj/Debug/netcoreapp2.1/Sticky.pdb
Sticky/Sticky/obj/Debug/netcoreapp2.1/Sticky.Views.dll
Sticky/Sticky/obj/Debug/netcoreapp2.1/Sticky.Views.pdb
Sticky/Sticky/obj/project.assets.json
Sticky/Sticky/obj/Sticky.csproj.nuget.cache
Sticky/Sticky/obj/Sticky.csproj.nuget.g.props
