@page
@model AboutModel
@{
    ViewData["Title"] = "About";
        Layout = "/Pages/Shared/_LayoutIdentity.cshtml";

}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<div>
    <p>Info about user:  @User.Identity.Name , is authenticated: @User.Identity.IsAuthenticated, </p>

</div>