@page


<header>
    <h1 class="font-effect-3d header2"><a href="/Index">Sticky Notes</a></h1>
    <nav id="login">Log in!</nav>
    <nav style="display:none" class="modal">
        <button>Login through Google!</button>
        <button>Login through Facebook!</button>
    </nav>

</header>

<div id="user">May</div>


<section id="board" class="hero-image">


</section>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>


