@page


<header>
    <h1 class="font-effect-3d header2">Sticky Notes</h1>
</header>

<div id="user">May</div>


<section id="board" class="hero-image">

    @*<div id="stickynote">ddd</div>*@

    <div class="stickynote" id="stickynote">
        <header class="ui-widget-content"></header>
        <textarea class="stickyForm" id="inputText"></textarea>
    </div>

</section>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/note.js"></script>
<script>

</script>
