@page


<header>
    <h1 class="font-effect-3d header2"><a href="/Index">Sticky Notes</a></h1>
    <nav id="login">Settings</nav>
    <nav style="display:none" class="modal">
        <a id="button" asp-area="Identity" asp-page="Account/Login">Log In!</a>
        <a id="button" asp-area="Identity" asp-page="Account/Login">Log in through Google</a>
        <a id="button" asp-area="Identity" asp-page="Account/Login">Log in through Facebook</a>
    </nav>
    
    
</header>

<section id="board" class="hero-image" onclick="createNote(event)"></section>



<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/note.js"></script>
<script>

</script>
