@page
<div class="header">

    <h1 class="font-effect-3d">Sticky Notes</h1>
</div>
<div class="strong">
    <div class="create">
        <h1><a href="/Board">Create a new board!</a></h1>
        <!-- Create New Board -->
        <input type="submit" value="Create" id="createButton" onclick="createNewBoard()">
    </div>
    <div class="join">
        <h1>Join a friend's board!</h1>
        Code
        <input type="text" name="code" placeholder="Enter Board Id Here" id="EnterBoard">
        <br>
        <input type="submit" value="Join" id="joinButton" onclick="joinBoard()">
    </div>
</div>



