@page
@using Microsoft.AspNetCore.Identity
@using Sticky.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="header">
    <h1 class="font-effect-3d">Sticky Notes</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="/Profile"><div class="profile">Profile</div></a>
    }
</div>
<div class="strong">
    <div class="create">
        <h1><a href="/Board">Create a new board!</a></h1>
      <input type="submit" value="Create" id="createButton" onclick="createNewBoard()">
       </div>
    <div class="join">
        <h1>Join a friend's board!</h1>
            <input type="text" name="code" placeholder="Enter Board ID Here" id="EnterBoard">
            <br>
            <input type="submit" value="Join" id="joinButton" onclick="joinBoard('@UserManager.GetUserId(User)')">
    </div>
</div>